
<div id="main">
    <%= image_tag 'main-img.jpg' %>
</div>

<div id="article_wrap">

    <div id="article_list">
        

		<% @articles.each do |article| %>
			<div>
				<h2><%= link_to article.title, article_path(article.id) %></h2>
				<p><!-- ここに投稿した日付を入れる　-->
					<!-- UTCじゃなくするのと、フォーマットも変える　-->
					<%= l article.created_at, format: :default %>

					<br>
				

					<% if user_signed_in? %>
						<%= link_to '編集', edit_article_path(article) %>
						<%= link_to '削除', article_path(article),
		                    method: :delete, data: { confirm: '削除しますか？' } %>
		            <% else %>
		            <% end %>
	            </p>
	        </div>

		<% end %>

	</div>

    <div id="sidebar">
        
        <h2>★PV数ランキング</h2>
        <ul>
        <% @popular_ids.each do |popular_id| %>
        	
            <li>
           <%= link_to Article.find(popular_id[0]).title, article_path(Article.find(popular_id[0]).id) %>
           <span>（<%= popular_id[1].to_i %>PV）</span>
 			</li>
        <% end %>
           
        </ul>
    </div>
    <div class="clear"></div>


</div>
	
